h1{
  color: blue;
  /* border-color: purple;
  border-width: 5px;
  border-style: solid; */
  border: 5px solid purple;
}

h4{
  background: rgb(255, 100, 80);
}

body{
  /* background: url("https://d2jd5cd93sjelr.cloudfront.net/spree/images/34243/large/f2002235-2_2.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  background: pink;

}

li{
  color: green;
}
